body {
  font-family: Arial;
  background: #f4f6f9;
  padding: 20px;
}

.container {
  max-width: 500px;
  margin: auto;
}

.input {
  width: 100%;
  padding: 10px;
  margin: 6px 0;
}

.btn {
  width: 100%;
  padding: 10px;
  background: blue;
  color: white;
  border: none;
  margin-top: 5px;
}

ul {
  background: white;
  padding: 10px;
}

.course-box {
  display: flex;
  gap: 5px;
}
.card{
  background: white;
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}